<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Kittens List</h1>
        <% 
        var message = {message};
          if(message.message){
            %>
            <p style="color:red"><%= message.message %></p>
          <%}
        %>
        <h3>Delete a Kitten</h3>
        <p>ID:</p>
        <form class="form-horizontal" role="form" method="post" onSubmit="return checkblank(this);" action="/home/kittens">
        <input type="number" class="form-control" name="kitten_name" placeholder="ID">
          <input type="submit" value="Submit">
        </form>
        <hr>
        <p>
          <% 
          var kittens = {kittens};
          kittens = kittens.kittens;
          kittens.forEach( function (kitten)
          { %>          
            <img src="<%=kitten.photos%>" height="150px" width="125px">
            <h3><%=kitten.id%> - <%= kitten.name%></h3>
            <span>History: <%=kitten.history%></span><br>
            <span>Age: <%=kitten.age%></span><br>

            <span><%if(kitten.fertility === 0){
              %>Not Fertile<%
              }else{%>Fertile<%}%></span><br>

            <span><%if(kitten.adopted === 0){
              %>Not Adopted<%
              }else{%>Adopted<%}%></span>
             <hr> 
          <%});%>
        </p>
      </div>
    <%- include footer %>